
a:link, a:visited {
  background-color:  white;
  color: black;
  border: 2px DimGray ;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
a:hover, a:active {
  background-color: Gray ;
  color:  white;
}


body{
    background-image: url('coffee-house-img.jpg');
    background-size:100%;
    padding: 30px;
     text-align: center;
}
h1 {
  color: white;
 text-shadow: 6px 1px 2px black, 0 0 40px black, 0 0 8px DimGrey;
   letter-spacing: 8px;
    text-transform: uppercase;
      text-decoration: underline ;
       font-weight: 900;
        font-size: 40px;
}
h2{
  color: white;
   text-shadow: 6px 2px 2px black,0 0 50px black;
    font-size: 30px;
}
h3{
  color: white;
  font-size: 20px;
   text-shadow: 6px 2px 2px black,0 0 50px black;
}
/* For mobile phone */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For ipad */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
